@import "../node_modules/reset-css/reset.css";

body {
  margin: 0;
  font-family: "PTWeb", sans-serif;
  font-weight: 400;
  color: rgba(39, 47, 90, 0.65);
}

* {
  box-sizing: border-box;
}

/* default headers */
h1,
h2,
h3,
h4 {
  color: rgba(39, 47, 90, 1);
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

/* default link */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  outline: none;
}

a:hover {
  color: #189ee9;
}

/* default fieds and button */
input,
textarea {
  outline: none;
  border-radius: 0.25rem;
  background-color: #fff;
  display: flex;
  border: 1px solid;
  border-color: rgba(39, 47, 90, 0.15);
  font: inherit;
  color: rgba(39, 47, 90, 1);
  padding: 0 1em;
  min-height: 32px;
  font-size: 0.875rem;
}

input::placeholder,
textarea::placeholder {
  color: rgba(39, 47, 90, 0.15);
}

input[data-size="small"] {
  min-height: 24px;
  font-size: 0.75rem;
}

input[data-size="big"] {
  min-height: 40px;
  font-size: 1rem;
}

input:not(hover):disabled,
textarea:not(hover):disabled {
  color: rgba(39, 47, 90, 0.25);
  border-color: rgba(39, 47, 90, 0.15);
  background-color: rgba(39, 47, 90, 0.04);
  cursor: not-allowed;
}

/* field hover */
textarea:hover,
input:hover {
  border-color: rgba(24, 158, 233, 1);
}

textarea:focus,
input:focus {
  border-color: rgba(24, 158, 233, 1);
  box-shadow: 0 0 0 2px rgba(24, 158, 233, 0.15);
}
